{% extends 'base.html' %}

    {% block content %}

    <h1>Hello World</h1>
  
    <div>
        <div class="containe">
            <div class="card"   >
                <div class="card-header text-center">
                    <h2>{{ post.title }}</h2>
                </div>
                <div class="card-body"  >
                    <p>{{ post.body }}</p>
                </div>
        </div>
        <h5> <a href="{% url 'blog:post_delete' post.pk %}"> delete</a></h5>
        
    </div>

    {% endblock content %}
